<!DOCTYPE HTML>
<!--
  Solarize by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head>
    <title>EasySkim</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.dropotron.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/skel-layers.min.js"></script>
    <script src="/static/js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="/static/css/skel.css" />
      <link rel="stylesheet" href="/static/css/style.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
  </head>
  <body>

    <!-- Header Wrapper -->
      <div class="wrapper style1">
      
        <!-- Header -->
          <div id="header">
            <div class="container">
                
              <!-- Logo -->
                <h1><a href="#" id="logo">EasySkim</a></h1>
              
              <!-- Nav -->
                <nav id="nav">
                  <ul>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </nav>
            </div>
          </div>
      </div>
    
    <!-- Main -->
      <form id="upload_form" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
      </form>
      <div id="main" class="wrapper style4">
        <div class="container">
          <div class="row">

            <!-- Sidebar -->
            <div id="sidebar" class="5u">

              {% for doc in docs %}
                <a href="javascript:;" class="document" data-id="{{ doc.id }}">
                  <strong>{{ doc.title }}</strong>
                </a>
                <div>
                  {{ doc.names | authors}}
                </div>
              {% endfor %}
            </div>

            <!-- Content -->
            <div id="content" class="7u skel-cell-important">
              <section>
                <header class="major">
                  <div id="summary_header">
                    <h2>Summary Area</h2>
                  </div>
                  <div id="summary_authors" class="byline">Click on a document on the left to see its summary</div>
                </header>
                <div id="summary">
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    
    <!-- Team -->
      <div class="wrapper style5">
        <section id="team" class="container">
          <header class="major">
            <h2>Meet the Team</h2>
            <span class="byline">Launched at <a href="http://oxhack.co.uk/" style="color:black">oxHACK 2014</a></span>
          </header>
          <div class="row">
            <div class="3u">
              <a href="#" class="image"><img src="static/images/placeholder.png" alt=""></a>
              <h3>Josh Cai</h3>
              <p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
            </div>
            <div class="3u">
              <a href="#" class="image"><img src="static/images/placeholder.png" alt=""></a>
              <h3>Keller Scholl</h3>
              <p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
            </div>
            <div class="3u">
              <a href="#" class="image"><img src="static/images/placeholder.png" alt=""></a>
              <h3>Deyan Levski</h3>
              <p>In posuere eleifend odio quisque semper augue wisi ligula.</p>
            </div>
            <div class="3u">
              <a href="http://rebeccamorgan.me/" class="image"><img src="static/images/rebecca.png" alt=""></a>
              <h3>Rebecca Morgan</h3>
              <p>DPhil Student in Geophysics, University of Oxford.</p>
            </div>
          </div>
        </section>
      </div>

  <!-- Footer -->
    <div id="footer">
      <section class="container">
        <header class="major">
          <h2>Connect with us</h2>
        </header>
        <ul class="icons">
          <!-- <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li> -->
          <li><a href="https://twitter.com/easyskim" class="fa fa-twitter"><span>Twitter</span></a></li>
          <li><a href="mailto:admin@easyskim.co.uk" class="fa fa-inbox"><span>Email</span></a></li>
<!--          <li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
          <li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li> -->
        </ul>
        <hr />
      </section>
      
      <!-- Copyright -->
        <div id="copyright">
          Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
        </div>      
    </div>
      
      <!-- Copyright -->
        <div id="copyright">
          Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
        </div>      
    </div>

    <script src="/static/js/easyskim.js"></script>
  </body>
</html>