{% extends "base.html" %}
{% block content %}
<!-- Header Wrapper -->
  <div class="wrapper style1">
  
    <!-- Header -->
      <div id="header">
        <div class="container">
            
          <!-- Logo -->
            <h1><a href="/" id="logo">EasySkim</a></h1>
          
          <!-- Nav -->
            <nav id="nav">
              <ul>
                <li>

               <!--    <form id="upload_form" enctype=multipart/form-data>
                    <input type=file name=file>
                    <input type=submit value=Upload>
                  </form> -->
                  <form id="upload_form" enctype=multipart/form-data>
                  <a href="#" onclick="document.getElementById('file').click(); return false;"/>Select File</a>
                  
                  <input type="file" id="file" name=file  style="visibility: collapse;"/>
                  <input type=submit value=Upload>
                  <form>

<!-- <div class="fileUpload btn btn-primary">
<span>Upload</span>
<input type="file" class="upload" />
</div> -->
                </li>
                {% if logged_in %}
                  <li><a href="/logout">Logout</a></li>
                {% else %}
                  <li><a href="{{login_url}}">Login</a></li>
                {% endif %}
              </ul>
            </nav>
        </div>
      </div>
  </div>

<!-- Main -->
<!--       <form id="upload_form" enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form> -->
  <div id="main" class="wrapper style4">
    <div class="container">
      <div class="row">

        <!-- Sidebar -->
        <div id="sidebar" class="5u">

          {% for doc in docs %}
            <a href="javascript:;" class="document" data-id="{{ doc.id }}">
              <strong>{{ doc.title }}</strong>
            </a>
            <div>
              {{ doc.names | authors}}
            </div>
          {% else %}
            {% if logged_in %}
              <p>You don't have any documents! :(</p>
            {% else %}
              <p><a href="{{login_url}}">Login to Mendeley</a> to access your documents!</a></p>
            {% endif %}
          {% endfor %}
        </div>

        <!-- Content -->
        <div id="content" class="7u skel-cell-important">
          <section>
            <header class="major">
              <div id="summary_header">
                <h2>Summary Area</h2>
              </div>
              <div id="summary_authors" class="byline">Click on a document on the left to see its summary</div>
            </header>
            <div id="summary">
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  
<script src="/static/js/easyskim.js"></script>
{% endblock %}