<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<head>
		<title>EasySkim</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-layers.min.js"></script>
		<script src="/static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/css/skel.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">
			
			<!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>EasySkim</h2>
						<!-- <span>Design by Templated</span> -->
						<span></span>
						<span style="color:black">Summarise your academic papers</span>
						<h4 id="login">
							<a href="/home" >Get Started</a></h4>
					</section>
				</div>
			</div>
		
		<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="row double">
						<div class="6u">
							<header class="major">
								<h2>Save time with an automated, sub-divided, intelligent summary of your research reading</h2>
								<p>Easyskim processes PDF files from your Mendeley library or direct upload and produces a plain text summary.</p>
							</header>
						</div>
						<div class="6u">
							<h3>Analytics</h3>
							<p>Easyskim extracts metadata and uses the Mendeley SDK to provide you with useful analytic material.</p>
							<a href="https://github.com/rebeccamorgan/easyskim" class="button">View on Github</a>
						</div>
					</div>
				</section>
			</div>

		
    <!-- Team -->
      <div class="wrapper style5">
        <section id="team" class="container">
          <header class="major">
            <h2>Meet the Team</h2>
            <span class="byline">Launched at <a href="http://oxhack.co.uk/" style="color:black">oxHACK 2014</a></span>
          </header>
          <div class="row">
            <div class="3u">
              <a href="https://github.com/joshcai" class="image"><img src="static/images/josh.jpg" alt=""></a>
              <h3>Josh Cai</h3>
              <span>Computer Science Student,</span>
              <br>
              <span>University of Texas at Dallas</span>
            </div>
            <div class="3u">
              <a href="#" class="image"><img src="static/images/keller.png" alt=""></a>
              <h3>Keller Scholl</h3>
              <span>PPE Student,</span>
              <br>
              <span>University of Oxford</span>
            </div>
            <div class="3u">
              <a href="#" class="image"><img src="static/images/deyan.jpg" alt=""></a>
              <h3>Deyan Levski</h3>
              <span>DPhil Student in Engineering,</span>
              <br>
              <span>University of Oxford.</span>
            </div>
            <div class="3u">
              <a href="http://rebeccamorgan.me/" class="image"><img src="static/images/rebecca.png" alt=""></a>
              <h3>Rebecca Morgan</h3>
              <span>DPhil Student in Geophysics,</span>
              <br>
              <span>University of Oxford.</span>
            </div>
          </div>
        </section>
      </div>


	<!-- Footer -->
		<div id="footer">
			<section class="container">
				<header class="major">
					<h2>Connect with us</h2>
				</header>
				<ul class="icons">
					<!-- <li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li> -->
					<li><a href="https://twitter.com/easyskim" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li><a href="mailto:admin@easyskim.co.uk" class="fa fa-inbox"><span>Email</span></a></li>
<!-- 					<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="fa fa-google-plus"><span>Google+</span></a></li> -->
				</ul>
				<hr />
			</section>
			
			<!-- Copyright -->
				<div id="copyright">
					Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
				</div>			
		</div>

	</body>
</html>