{% extends "base.html" %}
{% block body_class %}homepage{% endblock %}
{% block content %}
<!-- Header Wrapper -->
	<div class="wrapper style1">
	
	<!-- Banner -->
		<div id="banner">
			<section class="container">
				<h2>EasySkim</h2>
				<!-- <span>Design by Templated</span> -->
				<span></span>
				<span style="color:black">Summarise your academic papers</span>
				<h4 id="login">
					<a href="/home" >Get Started</a></h4>
			</section>
		</div>
	</div>

<!-- Section One -->
	<div class="wrapper style2">
		<section class="container">
			<div class="row double">
				<div class="6u">
					<header class="major">
						<h2>Save time with an automated, sub-divided, intelligent summary of your research reading</h2>
						<p>Easyskim processes PDF files from your Mendeley library or direct upload and produces a plain text summary.</p>
					</header>
				</div>
				<div class="6u">
					<h3>Analytics</h3>
					<p>Easyskim extracts metadata and uses the Mendeley SDK to provide you with useful analytic material.</p>
					<a href="https://github.com/rebeccamorgan/easyskim" class="button">View on Github</a>
				</div>
			</div>
		</section>
	</div>
{% endblock %}